<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
	<connectionStrings>
  <add name="AddressBook.Properties.Settings.AddressBookConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Andrei\AppData\Roaming\GAS Softwares\Free Address Book\AddressBook_2.0.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
	<startup>
	</startup>
</configuration>
